
htk_Core*/

foo
samples_per_iter
*.mat
valid_uttlist
train_subset_uttlist
*.spmat
*.acc
*.vec
*.egs
*.tpmat
*.zip
*.tar
*.rar
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
._.*

*.wav
*.kal
*.TextGrid

*.txt
*.xlsx
*.fst
*.int
*.csl
ilabels*
topo
lex*
*.arpa
segments
spk*
text
utt*
*.scp
frame*
*.log
best_wer
num_jobs
*.gz
*.mdl
*.occs
lmwt
ops
*.csv
per*
wer*
wip
num_*
tree
cmvn*
*ark
*.qst
*.pyc
*.1
*.2
*.3
*.4
*.5
