SpliceComponent input-dim=13 left-context=4 right-context=4 const-component-dim=0
FixedAffineComponent matrix=exp/nnet2/nnet2_simple/lda.mat
AffineComponentPreconditionedOnline input-dim=117 output-dim=1024 alpha=4.0 num-samples-history=2000 update-period=4 rank-in=30 rank-out=60 max-change-per-sample=0.075 learning-rate=0.01 param-stddev=0.03125 bias-stddev=0.5
TanhComponent dim=1024
AffineComponentPreconditionedOnline input-dim=1024 output-dim=1192 alpha=4.0 num-samples-history=2000 update-period=4 rank-in=30 rank-out=60 max-change-per-sample=0.075 learning-rate=0.01 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=1192
